<footer>
    <div class="footer">
        <div id="contact">
            <h3 >Reach Us</h3>
            <ul>
                <li>360006 morbi road <br> rajcot gujarat india</li>
                <li>engida@gmail.com</li>
                <li>+919537529486</li>
            </ul>
        </div>
        <div id="media_and_links">
            <div id="social_media">
                <h3 >Social Media</h3>
                <ul id="social_media_links">
                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href=""><i class="lni lni-instagram-filled"></i></a></li>
                    <li><a href=""><i class="fab fa-telegram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="lni lni-linkedin-original"></i></a></li>
                </ul>
            </div>
            <div id="footer-links" >
                <a href="">About</a>
                <a href="/contact-us">contact</a>
                <a href="">Blog</a>
                <a href="">FAQ</a>
            </div>
        </div>
        
    </div>

    <div class="copyright">&#169; Copyright</div>
</footer>
<script src="/js/script.js"></script>
<!-- <script src="/JS/carouselScript.js"></script> -->
<script src="/js/event.js"></script>
<!-- <script src="/JS/imgSlider.js"></script> -->
<script src="/js/admin.js"></script>

</body>
</html>