<%- include('includes/header-user')%>

    <div id="contact">
        <div id="introMessage">
            <h3 >Contact Our Team</h3>
            <h6 style="font-weight: 100;">Meet Our Team for More Info About the Exciting Hikes & Treks Awaiting You.</h6>
        </div>
        

        <div id="infoAndForm">
            <div id="contactInfo">
                <h3 class="infoTopic">
                    Ask how we can help you:
                </h3>
                <div class="info">

                    <h4 class="subTopic">
                        See our platform in action
                    </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ut ip </p>
                </div>
                <div class="info">
                    <h4>
                        Lorem ipsum dolor sit 
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Fugiat non deserunt 
                        consequuntur similique sequi pariatur, maiores culpa eos laborum voluptatibus in, 
                        eveniet ipsum quas maxime, labore iste asperiores dolorum? Quibusdam..
                    </p>
                </div>
                <div class="info">
                    <h4 class="subTopic">
                        Explore life 
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum repellendus laborum asperiores soluta debitis! Porro.
                    </p>
                </div>
                <h3 class="infoTopic">
                    Points of Contact
                </h3>
                <div class="info">
                    <h4 class="subTopic">
                        Eth | Ethirek Headquarters
                    </h4>
                    <p>
                        bole addiss ababa
                    </p>
                </div>

                <div class="info">
                    <h4 class="subTopic">
                        Information and Sales
                    </h4>
                    <p>
                        engish2312@gmail.com
                    </p>
                </div>

                <div class="info">
                    <h4 class="subTopic">Support</h4>
                    support@ethirek.com
                </div>
                <h3>
                    Additional Office Locations
                </h3>
                <div class="info">
                    <h4 class="subTopic">
                        Hawasa
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div id="formContainer">
                <form id="form" action="#">
                    <div class="formElement">
                        <label for="">First Name</label>
                        <input type="text" class = "formInput">
                    </div>
                    <div class="formElement">
                        <label for="">Last Name</label>
                        <input type="text" class = "formInput">
                    </div>
                    <div class="formElement">
                        <label for="">Email </label>
                        <input type="email" class = "formInput">
                    </div>
                    <div class="formElement">
                        <label for="">
                            Phone Number
                        </label>
                        <input type="text" class = "formInput">
                    </div>
                    
                    <div class="formElement">
                        <label for="comt">
                            Comment
                            <textarea style="width: 100%; border: none;" name="comment" id="comt" cols="30" rows="6"></textarea>
                        </label>
                    </div>
                    <div id="moreInfo">
                        <input id="moreInfoCheck" type="checkbox" class = "formInput">
                        <p id="moreInfoText">
                            I'd like to receive more information about Ethirek; I understand and agree to the privacy
                            policy.
                        </p>
                    </div>
                    <div id="submit">
                        <button type="submit" id="submitButton">Send Message</button>
                    </div>
                </form>
              
            </div>
        </div>
    </div>

    <%- include('includes/footer')%>

</body>

</html>