/* .admin-body{
    margin-left: 250px;
    margin-top: 60px; 
     padding-top: 60px;
} */
.dashbord{
    padding: 10px;
    margin: 0 25px;
    background-color: #ffffff;
    border-radius: 8px;
}
.dashbord-header,
.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
   background-color: #f8f9fa;
}
.download-report-btn {
    background-color: #3794ff;
    color: #f8f9fa;
    box-shadow: 0em 0.3em 0.5em rgba(0, 0, 0, 0.253);
}
button.btn.download-report-btn{
    margin: 0;
}
.top-report{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    place-items: center;
}
.top-report-cards {
    max-width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #515e7b;
    color: #f8f9fa;
    border-radius: 8px;
     box-shadow: 0em 0.3em 0.5em rgba(0, 0, 0, 0.253);
}
.top-report-cards i{
    font-size: 40px;
    padding: 10px;
}
.top-report-cards i:hover {
    font-size: 50px;
}
.top-report-cards p {
    padding: 10px;
}
.top-report-cards h2{
    text-align: center;
}
.earning, .highlight-information {
    margin: 20px 0;
    width: 100%;
}
.earning{
    padding: 20px;
}
.report-graph {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.graph-type {
    padding: 11px;
    border-radius: 4px;
}
.graph-type a{
    padding: 7px;
    border: solid 1px rgb(187, 177, 177);
    border-radius: 4px; 
}
.active {
    background-color: var(--clr-primary);
}
.chart-container {
    margin: auto;
}
.highlight-information{
    display: flex;
    float: row;
}
.highlight-information div{
    width: calc( 100vw - 250px - 75px);
}
.earning, 
.new-admission,
.exam-topers {
     box-shadow: 0em 0.3em 0.5em rgba(0, 0, 0, 0.253);
    border-radius: 8px;
    /* margin: 5px; */
}
/************ table start ********/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

@media(max-width: 1050px){
    .earning, .highlight-information{
        flex-direction: column;
    }
    .dashbord{
        /* padding: 10px; */
        margin: 0;
        
        width: 100vw;
    }
    .highlight-information div{
        width:96vw;
    }
    .dashbord-header,
    .card-header {
     
        margin-bottom: 20px;
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }
   
    .download-report-btn.btn {
        margin: 0.5em;
    }
    .new-admission .card-header{
        padding: 1em;
    }
}